body {
    background-color: rgb(57, 46, 46);
    color: rgb(240, 255, 223);
}
item {

}
value {

}
input-area {
    
}
.flex-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /*align-items: baseline;*/
}
.flex-item {

}
